/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2016, 10:03:07 PM
    Author     : ashmita
*/

.button1{
    color: white;
    background-color: mediumaquamarine;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Times; 
    letter-spacing: 2px;  
}
.form{
    font-family: Arial, Times;
    color: #8A2E62;
}
.login{
    font-family: Arial, Times;
    padding: 15px;
}
.login:focus {
  background: wheat;
}
.desc{
    font-family: Arial, Times;
    color: #8A2E62;
    font-size: 20px;
}
.bigtitle{
    font-family: Arial, Times; 
    color: mediumaquamarine;
}
.email:invalid{
    
    border: red;
}
input:invalid {
    border: 2px solid red;
}
.imagefb{
    width: 100px;
    height: 100px;
}
.imagered{
    width: 300px;
    height: 100px;
}
#indextitle{
    font-family: Arial, Times; 
    color: white;
    height: 100px;
    width: 200px;
    background-color: mediumaquamarine;
    -webkit-transition: width 2s;
    border-radius: 10px;
    transition: width 2s, height 2s;
    transition-property: all;
 
}
#indextitle:hover{
    width: 300px;
    height: 200px;
    font-size: 24px;
    
}
#trend{
    color: white;
    background-color: darkslateblue;
    height: 200px;
    width: 600px;
    padding: 10px;
    float: left;
    display: inline;
    margin: 0 1em 0 1em;
    
}
#new{
    color: white;
    background-color: coral;
    height: 200px;
    width: 300px;
    padding: 10px; 
    float: left;
    display: inline;
    margin: 0 1em 0 1em;
    width: 30%;
}
#subreddit{
    color: white;
    background-color: green;
    height: 200px;
    width: 300px;
    padding: 10px; 
    float: left;
    display: inline;
    margin: 0 1em 0 1em;
    margin-top: 20px;
    width: 30%;
}
#fav{
    color: white;
    background-color: cornflowerblue;
    height: 200px;
    width: 600px;
    padding: 10px; 
    float: left;
    display: inline;
    margin: 0 1em 0 1em;
    margin-top: 20px;
}
#trend:hover{
     background-color: mediumaquamarine;
}
#new:hover{
     background-color: mediumaquamarine;
}
#subreddit:hover{
     background-color: mediumaquamarine;
}
#fav:hover{
     background-color: mediumaquamarine;
}
