.jumbotron{
    background-color: transparent;
    margin-bottom: 0px;
    font-size: 15px;
}

.alien_img, .TopicBox, .container{
    background-color: #BB8BD3;
}

#mimg img{
    width: 15%;
}

.TopicBox{
    padding-top: 20px;
}
.TopicBox li {
    background-color: inherit;
}
.subredditTitle{


    display: inline-block;
    background-color: #A90F03;
    color: #FFFFFF;
    padding: 8px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;



}


.subredditTitle a, .cTitle a, .cComNum a{
    color: #FFFFFF;

}
.subredditTitle:hover, .cTitle:hover, .cComNum:hover {
    text-decoration: none;
    opacity: 0.9;
}


.cSubreddit{
    display: inline-block;
    background-color: #f44336;
    color: #FFFFFF;
    padding: 4px 30px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*
Facebook Button and Search section
*/
#searchterms{
    border: 2px dashed transparent;

    color: #A90F03;

    resize: none;
    background: none;
    outline: none;
    font-family: "Source Sans Pro",sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 40px;
    padding: 3px;
    margin: 2px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: #a90f03;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFFFFF;
    opacity: 0.4;
}
.interest_list{
    display: block;
}
.termitem, .termitems{
    display: inline-block;
}
#searchnow{
    margin-top: 20px;
}
.termitems button, .termitem{
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}

.searchterm{
    font-size: 15px;
}
.interest_list p{
    font-size: 9px;
    padding-top: 0px;
    margin-top: 0px;
}

#searchresults, #sugresults {
    margin-bottom: 30px;
    padding: 30px 15px;
    margin-top: 30px;
}



.pluslink, .removelink{
    height: 40px;
    margin: 8px 8px;
    margin-left: 0px;
    padding: 0px 6px;
}
.sublink{
    height: 40px;
    margin: 8px 8px;
    margin-right: 0px;
    padding: 0px 6px;



}

/*.suggestedSub{*/


    /*color: #FFFFFF;*/

    /*resize: none;*/
    /*background: none;*/
    /*outline: none;*/
    /*font-family: "Source Sans Pro",sans-serif;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*font-size: 15px;*/
    /*line-height: 40px;*/


    /*border-bottom: #a90f03;*/
/*}*/
.button_search{
    background-color: #bb8bd3;
}

.usersignup{
    display: none;
}


text {
    font: 10px sans-serif;
}


/*Header*/
#header{
    background-color: black;



}

#header span, #header h3, #header a{
    color: white;
}

.header-content{
    width:inherit;
    padding: 25px;
    background-color: #B82701;
    width: 300px;
    display: inline-block;

}
.description {

    text-align: center;
    color: white;
    font-size: 25px;
}
.description p{
    text-align: center;
}


/*Facebook subreddits*/
.custom{
    width: 1300px;
    margin:auto;
    background-color: white;
}
.alike{
    display: inline-block;
    width: 50%;
}
.alike-header p{
    color: #B82701;
}

.resultnode{
    background-color: #062F4F;
    margin: 5px 5px;
    display: inline-block;
    padding: 8px;
}

.haveitresultnode{
    display: inline-block;
    background-color: #B82701;
    margin: 5px 5px;
    padding: 8px;
}
.sublink{
    color: white;
}
