/*
 To change this license header, choose License Headers in Project Properties.
 To change this template file, choose Tools | Templates
 and open the template in the editor.
*/
/*
 Created on : Sep 11, 2016, 10:03:07 PM
 Author     : ashmita kumar, henry lopez
*/

/* LANDING PAGE */

.center {
    text-align: center;
}
.alien_img img {
    display: inline-block;
    margin: 10px;
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 80px;
}
.alien_img img:hover {
    transform: rotate(10deg);
    opacity: 0.75;

}
.button_search {
    text-align: center;
}

.connecttofacebook {
    display: inline-block;
    width: 50%;
}

.facebookbutton {
    display: inline-block;
    width: 100%;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif, Times;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    letter-spacing: 2px;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.facebookbutton:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}
.redimg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 448px;
}

/*VISUALIZATION SECTION*/

.visualizations div.datasection:nth-child(odd) {
    color: white;
    background-color: #0275d8;
}

.visualizations div.datasection:nth-child(even) {
    color: white;
    background-color: #00A462;
}
.panel {
    background-color: inherit;
}
.visualizations div:first-child {
    margin-top: 50px;
}

.visualizations {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
}
.visualizations div:not(.panel) {
    padding-bottom: 50px;
}

.visualizations div a:not(.tab) {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    padding-top: 100px;
}

.visualizations div:hover {
    opacity: 0.95;
}

.visualizations a:not(.tab) {
    color: white;
    text-decoration: none;
}

/* TABLE STYLE */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    color: #01549B;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr {
    width: 100%;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

/* TOP SCORE AND STATS DATA */
.content {
    display: none;
    width: 100%;
    margin-bottom: 70px;
}

.panel {
    display: none;
}

ul {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    padding-bottom: 25px;
}

ul li {
    display: inline;
    padding: 10px;
    background-color: white;
    margin: 10px;
    text-align: center;
    list-style: none;
}
ul li a {
    text-decoration: none;
}

.content p {
    text-align: center;
    font-size: 300%;
    background: inherit;
}

.content .selected{
    font-weight: bold;
}










/* SIGN UP*/
.model-body{
    text-align: left;
}
.modal-header{
    text-align: center;
}
.top-buffer {
    margin-top:10px; 
}
.button1 {
    color: white;
    background-color: mediumaquamarine;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Times;
    letter-spacing: 2px;
    transition: width 1s;
    height: 50px;
    width: 160px;
}
.button1:hover {
    width: 200px;  
    height: 50px;
}
.form {
    font-family: Arial, Times;
    text-align: left;
}
.desc {
    font-family: Arial, Times;
    font-size: 20px;
    text-align: left;
}
.bigtitle {
    font-family: Arial, Times;
    color: mediumaquamarine;
}
.email:invalid {
    border: red;
}
input:invalid {
    border: 2px solid red;
}

#hinttext{
    font-family: Arial, Times;
    color: blue;
}
#suggestun{

    color: teal;
}
.imagefb {
    width: 100px;
    height: 100px;
}
.imagered {
    width: 300px;
    height: 100px;
}
#indextitle {
    font-family: Arial, Times;
    color: white;
    height: 100px;
    width: 200px;
    background-color: mediumaquamarine;
    -webkit-transition: width 2s;
    border-radius: 10px;
    transition: width 2s, height 2s;
    transition-property: all;
}
.login {
    font-family: Arial, Times;
    padding: 15px;
}
.login:focus {
    background: wheat;
}
/*SET UP PAGE*/
#setuphead{
    background-color: cornflowerblue;
    font-size: 20px;
    color: white;

}
#setupcategory{
    background-color: #990000;
    color: white;
    font-family: Arial, Times;


}
/*RESPONSIVE DESIGN */
@media only screen and (max-width: 700px) {
    .alien_img img {
        display: block;
        margin: auto;
        width: 35%;
        text-align: center;
    }
}
